.pw-canvas {
  pointer-events: all;

  //override I-beam cursor over text
  text {
    cursor: default;
  }

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

.px-drag * {
  pointer-events: none !important;
  opacity: 0.5;
}


.pw-container {
  pointer-events: none;

  &.px-drag * {
    pointer-events: none !important;
  }

  &__canvas {
    fill: yellow;
    stroke: black;

    pointer-events: all;
    opacity: 0.5;

    stroke-width: 1px;
    stroke-dasharray: 35;
    stroke-dashoffset: -125;
    stroke-linecap: butt;
    transition: stroke 250ms ease-out, opacity 250ms ease-out, fill 250ms ease-in-out, stroke-dashoffset 250ms ease-out, stroke-dasharray 250ms ease-out;
  }

  &__text {
  }

}

.pw-select {
  pointer-events: none;

  opacity: 0.5;
  transition: opacity 3250ms ease-out;

  &.px-hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
  }

  &.px-drag &__canvas {
    pointer-events: none !important;
  }

  &__canvas {
    fill: blue;
    stroke: black;
    pointer-events: all;
    transition: stroke 250ms ease-out, opacity 250ms ease-out, fill 250ms ease-in-out, stroke-dashoffset 250ms ease-out, stroke-dasharray 250ms ease-out;
  }

  &__text {
  }

  &__icon {
  }
}

.pw-default {
  pointer-events: none;


  &.px-drag {
    filter: blur(5px);
  }

  &.px-drag &__canvas {
    pointer-events: none !important;
  }

  &__canvas {
    fill: blue;
    stroke: red;
    pointer-events: all;
    opacity: 0.5;
  }

  &__canvas_fill {
    fill: green;
    stroke: black;
    pointer-events: all;
    opacity: 0.5;
  }

  &__text {
  }

  &__icon {
    fill: white;
  }

}

.po-highlight {
  pointer-events: none;
  opacity: 1;
  transition: opacity 200ms ease-in-out;

  &.px-off {
    opacity: 0;
  }

  &__outline {
    fill: none;
    stroke: #555555;
    stroke-opacity: 0.5;
    stroke-width: 3px;
    stroke-dasharray: 10;
  }

  &__connector  {
    pointer-events: visible;
    fill: red;
    stroke-width: 2px;
   // transition: all 200ms ease-out;
//    transform-origin: center center;
  }

  &__connector:hover  {
    //transform: scale(1.5);
    stroke-width: 5px;
    fill:magenta;
  }
}

.po-drag-highlight {
  pointer-events: none;
  opacity: 1;

  transition: opacity 200ms ease-in-out;

  &.px-off {
    opacity: 0;
  }

  &__outline {
    fill: none;
    stroke: green;
    stroke-opacity: 0.5;
    stroke-width: 10px;
    stroke-dasharray: 8;
  }
}


.po-resize {
  pointer-events: none;
  opacity: 1;

  &.px-off {
    opacity: 0;
    visibility: hidden;
  }

  &__outline {
    fill: none;
    stroke: #555555;
    stroke-opacity: 0.5;
    stroke-width: 3px;
  }

  &__text {
  }
}

.po-drag-drop {
  pointer-events: none;



  &__outline {
    fill: none;
    stroke: darkorange;
    stroke-opacity: 0.5;
    stroke-width: 4px;
  }

  &__text {
  }
}

.po-lasso {
  pointer-events: none;
  opacity: 1;

  &.px-off {
    opacity: 0;
  }

  &__canvas {
    fill: blue;
    opacity: 0.25;
    stroke: #555555;
    stroke-opacity: 0.5;
    stroke-width: 3px;
  }

  &__text {
  }
}

.po-connector {
  pointer-events: none;


  &__text {
    pointer-events: none;
  }

  &__stroke {
    stroke: gray;
    fill: none;
    stroke-width: 1pt;
    pointer-events: none;
  }

  &__start,
  &__end,
  &__mid {
    pointer-events: visible;
    fill: black;
    stroke: none;
  }

  &__start:hover,
  &__end:hover,
  &__mid:hover {
    fill: red;
    stroke: none;
  }


  /*
  &.px-hover > &__stroke {
    stroke: red;
  }

  &.px-hover > &__start,
  &.px-hover > &__end,
  &.px-hover > &__mid {
    fill: red;
    stroke: red;
  }
  */
}

.po-connector-highlight {
  pointer-events: none;
  opacity: 1;
  transition: opacity 200ms ease-in-out;

  &.px-off {
    opacity: 0;
  }

  &__stroke {
    stroke: blue;
    fill: none;
    pointer-events: none;
  }

  &__start,
  &__end,
  &__mid {
    pointer-events: none;
    fill: blue;
    stroke: none;
  }

}


.po-select {
  pointer-events: none;
  transition: all 250ms ease-in-out;
  opacity: 1;
  visibility: visible;

  &.px-off {
    opacity: 0;
    visibility: hidden;
  }

  &__border {
    stroke: #6c8ebf;
    stroke-width: 1px;
    fill: none;
  }

  &__resize-handle {
    stroke: white;
    stroke-width: 1px;
    fill: #6c8ebf;
    cursor: grab;
    pointer-events: all;
  }


  &__connector {
    fill: green;
    pointer-events: visible;
  }
  &__connector:hover {
    fill: blue;
  }

}


.po-drag-cursor {
  pointer-events: none;
  opacity: 0.2;

  &.px-off {
    opacity: 0;
  }

  &__outline {
    fill: deeppink;
  }
}


$ease: cubic-bezier(.2, 1, .3, 1);

.po-insert-cursor-right {
  pointer-events: none;
  opacity: 0.5;

  transition: all 250ms ease-in-out;

  &.px-off {
    opacity: 0;
  }

  &__outline {
    fill: red;
  }

  &__animate {
    animation: po-insert-cursor-right__anim 1s $ease infinite;
  }
}

.po-insert-cursor-left {
  pointer-events: none;
  opacity: 0.5;
  visibility: visible;

  transition: all 250ms ease-in-out;

  &.px-off {
    opacity: 0;
    visibility: hidden;
  }

  &__outline {
    fill: red;
  }

  &__animate {
    animation: po-insert-cursor-left__anim 1s $ease infinite;
  }

}

@keyframes po-insert-cursor-left__anim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes po-insert-cursor-right__anim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
